.dropdown {
  background-color: white;
  border: 1px solid var(--orange);
  border-radius: 8px;
  color: var(--orange);
  margin: 0 auto 20px;
  padding: 8px;
  text-align: center;
  width: 60%;

}

.dropdown:focus {
  outline: none;
}

.selects {
  align-items: center;
  display: flex;
}
