/* stylelint-disable property-no-vendor-prefix */

/* stylelint-disable value-no-vendor-prefix */
.main-page-buttons {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  margin: 24px 0;
  padding: 0 20px;
}

.filter-btn {
  align-items: center;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  color: #999;
  display: flex;
  flex-grow: 1;
  height: 30px;
  justify-content: center;
  text-align: center;
}

.search-bar button {
  align-items: center;
  background: white;
  border: 1px solid var(--orange);
  border-radius: 8px;
  color: var(--orange);
  display: flex;
  height: 36px;
  justify-content: center;
  left: 295px;
  top: 110px;
  width: 49px;
}

.search-bar button:hover, .search-bar button:active {
  background-color: var(--orange);
  color: white;
}

.filter-btn:hover, .active {
  background-color: rgba(245, 158, 47, 0.12);
  border: 1px solid rgba(245, 158, 47, 0.12);
  color: var(--orange);
}

.search-bar {
  background: white;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 16px 20px;
}

.search-bar form {
  align-items: center;
  display: flex;
  gap: 16px;
  width: 100%;
}

.search-input {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  flex: 1;
  height: 36px;
  padding-left: 16px;
}

.search-input:focus {
  border: none;
  outline: 1px solid var(--orange);
}

.search-input:focus::placeholder {
  color: var(--orange);
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.radio-buttons label {
  align-items: center;
  display: flex;
  gap: 8px;
}

.recipes-cards-container {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 70px;
  padding: 0 20px;
}

.recipe-card {
  flex-basis: calc(50% - 20px);
  flex-grow: 1;
  max-width: calc(50% - 10px);
}

.recipe-card div {
  align-items: center;
  color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: center;
}

.recipe-card h2 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-line-clamp: 2;
  margin-top: 8px;
  overflow: hidden;
}

.recipe-card img {
  border-radius: 16px;
}

.recipe-card div:hover {
  color: var(--orange);
}

.recipe-card:hover {
  text-decoration: none;
}
