footer {
  align-items: center;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  bottom: 0;
  display: flex;
  font-size: 0.857rem;
  gap: 8px;
  justify-content: space-around;
  left: 0;
  padding: 16px;
  position: fixed;
  width: 100%;
}

.footer-btn--content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.footer-btn {
  color: black;
  text-decoration: none;
}

.footer-btn:hover {
  color: black;
}

.footer-btn--active, .footer-btn:hover {
  color: var(--orange);
  text-decoration: none;
}
