.Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.logo-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-div img {
  margin-bottom: 10px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 80%;
}

.login-form label {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.login-form label span {
  margin-bottom: 8px;
}

.login-form input {
  background-color: whitesmoke;
  border: #d4d4d4 solid 1px;
  border-radius: 8px;
  height: 40px;
  padding-left: 15px;
  width: 100%;
}

.login-form input:focus {
  border: 1px solid transparent;
  outline: 1px solid var(--orange);
}

.login-form button {
  background-color: var(--orange);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  height: 40px;
  margin-top: 16px;
  width: 100%;
}

.login-form button:disabled {
  opacity: 50%;
}
