.profile-container {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}

.profile-container h2 {
  align-self: flex-start;
  font-size: 1rem;
  font-weight: 600;
}

.profile-container h2 span {
  font-size: 14px;
  font-weight: 400;
}

.profile-container button {
  align-items: center;
  background-color: transparent;
  border: var(--orange) solid 1px;
  border-radius: 8px;
  color: var(--orange);
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 12px 16px;
  position: relative;
  width: 100%;
}

.preference-btn button {
  background-color: transparent;
  border-style: none;
  font-size: 14px;
  font-weight: 500;
}

.logout button {
  color: red;
}

.toggle-dark button {
  color: var(--orange);
}

.profile-container button:hover {
  background-color: var(--orange);
  color: white;
  text-decoration: none;
}

.preference-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-icons {
  margin-left: 0;
  margin-right: 80%;
  position: absolute;
}
