* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ingredientCard {
  background-color: white;
  border: 1px solid black;
  border-radius: 10%;
  height: 40vw;
  margin-bottom: 10%;
  width: 40vw;
}

.ingredientCard h2 {
  font-size: 100%;
}

.cardsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
